<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seu.dao.DocumentDAO">

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into document(name,author, author_intro, keywords,digest,topic,affiliation_id, year,
				note, attachment, editor_id, auth)
	    values(#{name}, #{author}, #{authorIntro}, #{keywords}, #{digest}, #{topic}, #{affiliationId}, #{year},
	    	#{note}, #{attachment}, #{editorId}, #{auth});
	</insert>

	<update id="update">
		update document set
		<trim suffixOverrides=",">
			<if test="name!=null">
				name = #{name},
			</if>
			<if test="author!=null">
				author = #{author},
			</if>
			<if test="authorIntro!=null">
				author_intro = #{authorIntro},
			</if>
			<if test="keywords!=null">
				keywords = #{keywords},
			</if>
			<if test="digest!=null">
				digest = #{digest},
			</if>
			<if test="topic!=null">
				topic = #{topic},
			</if>
			<if test="affiliationId!=null">
				affiliation_id = #{affiliationId},
			</if>
			<if test="year!=null">
				year = #{year},
			</if>
			<if test="note!=null">
				note = #{note},
			</if>
			<if test="attachment!=null">
				attachment = #{attachment},
			</if>
			<if test="editorId!=null">
				editor_id = #{editorId},
			</if>
			<if test="auth!=null">
				auth = #{auth},
			</if>
			<if test="active!=null">
				active = #{active},
			</if>
			update_time = now(),
		</trim>
		where id = #{id};
	</update>


	<select id="selectByAffiliationId" resultType="seu.model.Document">
		select * from document where
        <trim prefixOverrides="and">
            <choose>
                <when test="affiliationId==200"> <!-- 请求回收站 -->
                    and affiliation_id &lt; 0
                </when>
                <otherwise>
                    and affiliation_id = #{affiliationId}
                </otherwise>
            </choose>
            <if test="user.level!=3"> <!-- 非管理员用户 -->
                and auth &lt;= #{user.level} <!-- 只显示密级不高于自己级别的文献 -->
                <if test="affiliationId==200 or (isEdit and !isActive)"> <!-- 如果请求回收站或者编辑页 -->
                    and editor_id = #{user.id} <!-- 那么只显示本人上传文献 -->
                </if>
            </if>
            <if test="!isEdit and !isActive"> <!-- 文献页，只展示审核通过的文献 -->
                and active = 0
            </if>
            <if test="!isEdit and isActive"> <!-- 审核页，只展示未审核的文献 -->
                and active = 1
            </if>
        </trim>
	</select>

	<select id="countSimpleSearch" resultType="java.lang.Integer">
		select count(id) from document where
		name like '%${content}%'
		and affiliation_id &gt; 0
		<if test="user.level!=3"> <!-- 非管理员用户 -->
			and auth &lt;= #{user.level} <!-- 只显示密级不高于自己级别的文献 -->
			<if test="isEdit and !isActive"> <!-- 如果请求编辑页 -->
				and editor_id = #{user.id} <!-- 那么只显示本人上传文献 -->
			</if>
		</if>
		<if test="!isEdit and !isActive"> <!-- 文献页，只展示审核通过的文献 -->
			and active = 0
		</if>
		<if test="!isEdit and isActive"> <!-- 审核页，只展示未审核的文献 -->
			and active = 1
		</if>
	</select>

	<select id="simpleSearch" resultType="seu.model.Document">
		select * from document where
		name like '%${content}%'
		and affiliation_id &gt; 0
		<if test="user.level!=3"> <!-- 非管理员用户 -->
			and auth &lt;= #{user.level} <!-- 只显示密级不高于自己级别的文献 -->
			<if test="isEdit and !isActive"> <!-- 如果请求编辑页 -->
				and editor_id = #{user.id} <!-- 那么只显示本人上传文献 -->
			</if>
		</if>
		<if test="!isEdit and !isActive"> <!-- 文献页，只展示审核通过的文献 -->
			and active = 0
		</if>
		<if test="!isEdit and isActive"> <!-- 审核页，只展示未审核的文献 -->
			and active = 1
		</if>
		limit #{begin}, #{end}
	</select>
</mapper>