<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayshawn.dao.UserDAO">

	<insert id="addUser" useGeneratedKeys="true" keyProperty="id">
		insert into user(name,password,salt,head_url,email) values(#{name},#{password},#{salt},#{headUrl},#{email})
	</insert>
</mapper>